* text=auto eol=lf
*.sh        text eol=lf
*.stg       text eol=lf
*.java      text eol=lf
*.gradle    text eol=lf
*.groovy    text eol=lf
*.xml       text eol=lf
*.properties text eol=lf
*.idl       text eol=lf
*.proto     text eol=lf
# 二进制文件不要改行尾
*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.gif binary
